<h1>Enter your pet</h1>

<form method="post" action="/pets/create">
  <input type="text" name="name" placeholder="Enter pet name">
  <br />
  <input type="text" name="genus" placeholder="Enter pet genus">
  <br />
  <input type="text" name="image_url" placeholder="Enter image url">
  <br />
  <input type="submit" value="Save">
</form>