<form method="post" action="/users">
  <label for="user_first_name">First Name:</label>
  <input type="text" name="user[first_name]" id="user_first_name" />
  <br />

  <label for="user_last_name">Last Name:</label>
  <input type="text" name="user[last_name]" id="user_last_name" />
  <br />

  <input type="submit" value="Save" />
</form>
