<h1>Cute Cats For You</h1>

<% 10.times do %>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWRJ67jBGoXSdZJIN1_NphQXloBY_-PAmbVZuYE-C999hHQ4hkUWV6JWA" />
<% end %>

<h2><%= 100 - 25 %></h2>
