<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

  <div class="container">
    <ul class="nav nav-pills">
      <li><a href="/">Home</a></li>
      <li><a href="/pets">Pets</a></li>
      <% if logged_in? %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

    <%= yield %>
  </div>
</body>
</html>
