<form method="post" action="/login">
  <input name="email" type="email" placeholder="Enter your email" />
  <br />
  <input name="password" type="password" placeholder="Enter your password" />
  <br />
  <input value="Login" type="submit" />
</form>
